# Python Basic

## Python Variable

- List
- Set
- Dictionary
- Tuple

In [ ]:
print("Hello, world!")

Hello, Python World!!!

- Name of variables, function == stores memory address

## Floating points in Python

- Approximately in binary
- size: 32bit(4Byte)
  - sign(1) | exponent(11) | mantissa(52)
  - Use log to show the value
- double(8 Bypte)

---

## String in Python

- String is also stored in binary
  - ASCII, Unicode

In [2]:
# Watch out for type mismatch error

a = 10
b = 10.2
c = "Hello"
d = True

print(type(a))  # int
print(type(b))  # float
print(type(c))  # str
print(type(d))  # bool

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
# type error: int + str
# print(a + c)

# Multiple Variable

- Declare
- Return

In [4]:
# Declare multiple variables in one line
n1, n2 = 10, 3


# Declare function or method
def calc(n1, n2):
    return n1 + n2, n1 - n2


result = calc(n1, n2)
print(result)  # type: tuple

# return multiple values
plus, minus = calc(n1, n2)
print(plus, minus)

(13, 7)
13 7

## List Type

- List: ordered, mutable, allow duplicates
- Tuple: ordered, immutable, allow duplicates
- Set: unordered, immutable, no duplicates
- Dictionary: ordered, mutable, allow duplicates, key: value, key is unique

- Can use for loops such

```python
lst = ['foo', 'bar']
tpl = ('foo', 'bar')
st = {'foo', 'bar'}
dct = {'foo': bar}

empty_list = []
# there is not empty tuple
empty_dict = {}
empty_set = set()
```

In [5]:
# Difference between list and tuple

lst1 = [10, 20, 30, 40, 50]
tpl1 = (10, 20, 30, 40, 50)

# Access by index
print(lst1[2], tpl1[3])

lst1[1] = 11
# tpl1[3] = 22  # immutable

# Mostly functions return values in tuple

30 40

In [6]:
# Change type to use tuple

lst2 = list(tpl1)
lst2[2] = 33
print(lst2)

[10, 20, 33, 40, 50]

### Set

In [7]:
# Set: unordered, mutable, no duplicates

set1 = {1, 2, 3, 3, 3, 2}
set2 = {2, 3, 4, 5, 2}
set3 = set()

# there is no duplicates
print(f"set1: {set1}")
print(f"set2: {set2}")

print(f"set1 & set2: {set1 & set2}")
print(f"set1 | set2: {set1 | set2}")
print(f"set1 - set2: {set1 - set2}")
print(f"set2 - set1: {set2 - set1}")

set1: {1, 2, 3}
set2: {2, 3, 4, 5}
set1 & set2: {2, 3}
set1 | set2: {1, 2, 3, 4, 5}
set1 - set2: {1}
set2 - set1: {4, 5}

In [8]:
# Q: Find book store for both books

used_books = ("fake emotion", "little prince")

# declare in Set type
store_f = {"gangnam", "gwanghaw", "hapjung"}
store_l = {"gangnam", "hapjung", "bumgae", "suwon"}

both = store_f & store_l
print(f"Book stores with both books: {both}")

Book stores with both books: {'hapjung', 'gangnam'}

In [9]:
# Q:

before = {"hong", "lee"}
current = {"hong", "kim", "park", "lee", "choi"}

pool = current - before
print(f"Pool with out previous winners: {pool}")

Pool with out previous winners: {'park', 'choi', 'kim'}

In [10]:
# Q: list who visited at list both morning and afternoon

am = {"hong", "lee", "kim"}
pm = {"kim", "hong", "choi"}

both = am | pm
print(both)

# or assign list with duplicates to remove them

{'lee', 'hong', 'choi', 'kim'}

### Dictionary

- no order
- mutable
- key must not be duplicated

```python
dictionary = {'key': value, 'foo': bar}
```

In [11]:
dict1 = {"name": "hong", "age": 30, "addr": "seoul"}

# access with key
print(dict1["name"])
print(dict1["age"])
print(dict1["addr"])

# or like this
name, age, addr = dict1["name"], dict1["age"], dict1["addr"]
print(name, age, addr)

hong
30
seoul
hong 30 seoul

In [12]:
dict2 = {0: "hong", 1: "lee", 2: "seo"}
print(dict2[0])  # use key to access

lst = ["hong", "lee", "seo"]
print(lst[0])  # use index to access

# both str class btw

hong
hong

In [13]:
# Q: words starts with f

word_list = {
    "fubar": "It's a German.",
    "fake": "not genuine",
    "finger": "those things on your hands",
}

print(f'fubar: {word_list["fubar"]}')
print(f'fake: {word_list["fake"]}')
print(f'finger: {word_list["finger"]}')

word_list["fubar"] = "fucked up beyond any recognition"
print(f'fubar: {word_list["fubar"]}')

fubar: It's a German.
fake: not genuine
finger: those things on your hands
fubar: fucked up beyond any recognition

### With Loops

In [14]:
# List
names = ["hong", "lee", "kim"]
# values get copied
for name in names:
    print(name)

print()

# Tuple
numbers = (10, 20, 30)
for number in numbers:
    print(number)

print()

# Set
number_set = {1, 2, 2, 3, 3, 3, 4, 4, 4, 4}
for num in number_set:
    print(num)

print()

# Dictionary
name_dict = {"name": "hong", "age": 30, "addr": "seoul"}
for key in name_dict:
    print(dict1[key])

hong
lee
kim

10
20
30

1
2
3
4

hong
30
seoul